# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
*.vs
/bin
/x64
/.git
/.vs

*.x64
*.bin
*.git

*.x64/Debug/
x64/*
!x64/Debug/
x64/Debug/*

!x64/
.x64

/x64
/.git
/.vs
*.x64/
x64.*
*.x64/Debug
/Debug.*
/.x64/Debug

*.x64/Debug/3D3 Project.tlog


*.idb
/idb.*


# VisualStudio
*.filters
*.user

